@namespace Hrms_project.Components.Layout
@using Hrms_project.Service
@implements IAsyncDisposable

<div class="container-fluid">
    <div class="profile-mobile">
        <div class="d-flex">
            <nav class="navbar navbar-expand-sm navbar-dark px-4">
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="">
                                <span class="bi bi-house-fill px-2"></span> @locallizer["หน้าแรก"]
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="settings">
                                <span class="bi bi-gear-wide-connected px-2"></span> @locallizer["ตั้งค่า"]
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="profile-mobile">
        <div class="d-flex">
            <Dropdown Trigger="@(new Trigger[] { Trigger.Click })" Placement="Placement.BottomRight">
                <Overlay>
                    <Menu Style="width: 12rem;">
                        <MenuItem>
                            <a class="nav-link text-black" @onclick="ShowLogoutConfirmation">
                                <span class="bi bi-arrow-left-circle-fill px-2" aria-hidden="true"></span> @locallizer["ออกจากระบบ"]
                            </a>
                        </MenuItem>
                    </Menu>
                </Overlay>
                <ChildContent>
                    <div class="nav-item">
                        <NavLink class="nav-link px-3 text-white fw-bold" @onclick:preventDefault>
                            <img src="picture/user.png" class="img-user" />
                        </NavLink>
                    </div>
                </ChildContent>
            </Dropdown>

            <div class="nav-link mt-1 px-1">
                <ChangeLanguae />
            </div>

            <button title="Navigation menu" class="navbar-toggler mx-3 bg-dark" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon fw-bold"></span>
            </button>
        </div>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <div class="container-fluid">
        <div class="profile-ipad">
            <nav class="flex-column">
                <div class="topic-menu mt-3">
                    <p>@locallizer["เมนู"]</p>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-fill" aria-hidden="true"></span> @locallizer["หน้าแรก"]
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="settings">
                        <span class="bi bi-gear-wide-connected" aria-hidden="true"></span> @locallizer["ตั้งค่า"]
                    </NavLink>
                </div>
            </nav>
        </div>

        <nav class="flex-column">
            <div class="topic-menu">
                <p>@locallizer["การจัดการ"]</p>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="employees">
                    <span class="bi bi-people-fill" aria-hidden="true"></span> @locallizer["ข้อมูลบุคลากร"]
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="executive">
                    <span class="bi bi-person-badge-fill" aria-hidden="true"></span> @locallizer["ข้อมูลผู้บริหาร"]
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="organization">
                    <span class="bi bi-buildings-fill" aria-hidden="true"></span> @locallizer["โครงสร้างองค์กร"]
                </NavLink>
            </div>

            <div class="line-hr"><hr /></div>

            <div class="topic-menu">
                <p>@locallizer["ข้อมูลส่วนตัว"]</p>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="profile">
                    <span class="bi bi-person-vcard-fill" aria-hidden="true"></span> @locallizer["ข้อมูลส่วนตัว"]
                </NavLink>
            </div>

            <div class="line-hr"><hr /></div>

            <div class="detail-navmenu text-detail-navmenu">
                <p>
                    จัดทำโดย ภานุวัฒน์ บัวเพชร <br />
                    Software Version : Demo
                </p>
            </div>
        </nav>
    </div>
</div>